<%- include("header.ejs"); -%>
  <div class="box" id="heading">
    <h1><%= dayName %></h1>
  </div>
  <div class="box">
    <% for(var i = 0; i < listItems.length; i++){  %>
    <div class="item">
      <input type="checkbox">
      <p><%= listItems[i] %></p>
    </div>
    <% } %>
    <form class="item" action="/" method="post">
      <input type="text" name="inputItem" placeholder="New Item">
      <button type="submit" name="HomeAdditionbutton" value="item add home">+</button>
    </form>
  </div>
<%- include("footer.ejs"); -%>
